	<% if current_user.admin?%>
<%= render 'top' %>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <%= link_to ' Home', admins_index_path() %>
        </li>
        <li class="breadcrumb-item active">List Tasks</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header"><h2>
          <i class="fa fa-table"></i>
        List Task</h2></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin: 0 auto">
              <thead>
                <tr>
                  <th>ID</th>
                  <th scope="col">Name</th>
      						<th scope="col">Content</th>
      						<th scope="col">Employees</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
                  <% obj = Task.all %>
                	<% obj.each do |task| %>
              <tbody>
                <tr>
                  <th scope="row"><%= task.id %></th>
      						<td><%= truncate(task.taskname, length: 20) %></td>
      						<td><%= truncate(task.content, length: 20) %></td>
      						<td><% task.users.each do |user| %>
      							#<%= link_to user[:username], user_path(user) %>  &nbsp
      							<% end %>
      						</td>
      						<td> <%= link_to '', edit_task_path(task), class:"btn btn-primary btn-md mr-3 fa fa-pencil" %> </td>
      						<td> <%= link_to '', task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-md fa fa-trash" %></td>
                </tr>
              </tbody>
                <% end %>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

      <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
      </p>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <%= render 'foot' %>
	<% end %>
