<div class="container mt-5 pt-3" ">    
    <div class="row">
        <div class="col-12">
     	    <div class="" style="background-color:rgba(0, 0, 0, 0.03),padding: 10px;">  <h2>User Profile</h2></div>
            <div class="">
            	<div class="row">
	    		    <div class="col-4">
	     			   <div style="max-width: 300px;">  <%= image_tag @user.avatar.attached? == false ? "avatar-blank.jpg": @user.avatar,class: "rounded-circle img-thumbnail" %> </div>
	 				</div>
			   	    <div class="col-8" >
			            <div class="container" >
			         	    <h2><%= @user.username %></h2>
			           	    <p>an   <b> Rails Web Developer</b></p>
			            </div>
			            <hr>
			            <ul class="container details" >
			                <li><p><span class="fa fa-user one" style="width:50px;"></span><%= @user.username %></p></li>
			                <li><p><span class="fa fa-envelope one" style="width:50px;"></span><%= @user.email %></p></li>
			            </ul>
			            <hr>
			       	    <div class="col-sm-5 col-xs-6 tital " >
			   				<%= link_to "", users_path, class: "btn btn-lg btn-success fa fa-arrow-circle-left" %>
							<%= link_to "", edit_user_path(@user), class: "btn btn-lg btn-primary fa fa-pencil" %>
							<% if current_user.admin? %>
								<%= link_to "", user_path(@user), method: :delete,
								data: { confirm: "Are you sure you want to delete the user?"},
								class: "btn btn-lg btn-danger fa fa-trash" %>
							<% end %>
			       	    </div>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>

